<div class="container my-5">
    <div class="text-center">
        <h1>{{ title }}</h1>
        <hr>
        <button class="btn btn-outline-info px-5" (click)="onClick()">Get Posts</button>
    </div>

    
        <div class="row my-5 mx-1">
            <div class="col-sm-12">
                <h5 class="text-center" *ngIf='loadedPosts.length < 1 && !loading '>No Posts Currently Availible, Click <i>Get Posts</i> !</h5>
                <ul class="list-group" *ngIf='loadedPosts.length >= 1 && !loading' >
                    <li class="list-group-item bg-dark text- my-2" *ngFor='let post of loadedPosts'>
                        <h5>{{ post.title | uppercase}}</h5>
                        <p>{{ post.body }}.</p>
                    </li>
                </ul>

                <!-- Loader -->
                <div class="text-center" *ngIf='loading'>
                    <app-loader></app-loader>
                </div>

            </div>
        </div>

</div>